{% extends 'layout.html' %}
{% load topic_helper %}
{% block root %}

    <div class="layui-row layui-col-space10" style="padding: 15px;">
        <div class="layui-col-md2"></div>
        <div class="layui-col-md8">
            {% if form.errors %}
            {{ form.errors }}
            {% endif %}
            <form class="layui-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
{#                {{ form.name | select }}#}

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit id="form_submit">修改</button>
                    </div>
                </div>
            </form>

            <script>
                //Demo
                layui.use('form', function () {
                    var form = layui.form;
                });


            </script>

        </div>


    </div>


{% endblock %}
