{% extends 'layout.html' %}
{% block root %}
    <div class="layui-row">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md2"></div>
            <div class="layui-col-md8">
                <table class="layui-table" lay-skin="line">
                    <colgroup>
                        <col width="150">
                        <col width="150">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>队伍</th>
                        <th>积分</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for team in team_list%}
                        <tr>

                            <td>{{ team.name }}</td>
                            <td>{{ team.score }}</td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <script>

        </script>
{% endblock %}