{% extends 'layout.html' %}
{% load topic_helper %}
{% load accounts_helper %}
{% block root %}
    <div class="layui-row">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md2"></div>
            <div class="layui-col-md8">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                    <legend>{{ team }}</legend>
                </fieldset>


                <table class="layui-table" lay-skin="line">
                    <colgroup>
                        <col width="150">
                        <col width="150">
                    </colgroup>
{#                    {{ member.username }}#}
                    {{ team | detail_filed:'name' }}
                    {{ team | detail_filed:'uuid' }}
                     <tr>
                    <td>队伍总分</td>
                    <td>{{ team.score }}</td>
                </tr>
                </table>

                   <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                    <legend>队伍成员</legend>
                </fieldset>
                    <table class="layui-table" lay-skin="line">
                    <colgroup>
                        <col width="150">
                        <col width="150">
                    </colgroup>
                        <thead>
                        <th>成员</th>
                        <th>得分</th>
                        </thead>
                        <tbody>
                        {% for member in members %}
                        <tr>
                        <td>{{ member }}{% if member.is_leader %}
                        <font color="red">队长</font>
                        {% endif %}</td>
                        <td>{{ member.score }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
{#                    {{ member.username }}#}

                </table>

            </div>
        </div>
        <script>


        </script>
{% endblock %}