{% extends 'layout.html' %}
{% block root %}

    {% load i18n %}
    {% load account socialaccount %}
    {% load topic_helper %}
    <div class="layui-row">

        <div class="layui-row layui-col-space10" style="padding: 15px;">
            <div class="layui-col-md2"></div>
            <div class="layui-col-md8">
                {% if form.errors %}
                    <div align="center" style="color: red">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.login | select }}
                    {{ form.password | select }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}

                    <div align="center">
                        <button class="layui-btn" type="submit">{% trans "Sign In" %}</button>
                        <a class="layui-btn layui-btn-xs layui-btn-warm"
                           href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

                    </div>

                </form>
            </div>
        </div>
    </div>
    {#    <h1>{% trans "Sign In" %}</h1>#}
    {##}
    {#    {% get_providers as socialaccount_providers %}#}
    {##}
    {#    {% if socialaccount_providers %}#}
    {#        <p>{% blocktrans with site.name as site_name %}Please sign in with one#}
    {#            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>#}
    {#            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>#}
    {##}
    {#        <div class="socialaccount_ballot">#}
    {##}
    {#            <ul class="socialaccount_providers">#}
    {#                {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
    {#            </ul>#}
    {##}
    {#            <div class="login-or">{% trans 'or' %}</div>#}
    {##}
    {#        </div>#}
    {##}
    {#        {% include "socialaccount/snippets/login_extra.html" %}#}
    {##}
    {#    {% else %}#}
    {#        <p>{% blocktrans %}If you have not created an account yet, then please#}
    {#            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>#}
    {#    {% endif %}#}



{% endblock %}
