{% extends 'layout.html' %}
{% block root %}
    {% load  topic_helper %}

<div class="layui-row">

        <div class="layui-row layui-col-space10" style="padding: 15px;">
            <div class="layui-col-md2"></div>
            <div class="layui-col-md8">
                {% if form.errors %}
                    <div align="center" style="color: red">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <form class="login" method="POST" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}

                      <div class="layui-form-item">
                        <label class="layui-form-label">E-Mail</label>
                        <div class="layui-input-block">
                        <input type="email" class="layui-input" name="email">
                        </div>
                    </div>
                    <div align="center">
                        <button class="layui-btn" type="submit">发送邮件</button>

                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
