{% extends 'layout.html' %}
{% block root %}
    {% load  topic_helper %}

{% load i18n %}
<div class="layui-row">

        <div class="layui-row layui-col-space10" style="padding: 15px;">
            <div class="layui-col-md2"></div>
            <div class="layui-col-md8">
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <div class="layui-form-item">
                        <label class="layui-form-label">输入密码</label>
                        <div class="layui-input-block">
                        <input type="password" class="layui-input" name="password1">
                        </div>
                    </div>
                <div class="layui-form-item">
                        <label class="layui-form-label">重复密码</label>
                        <div class="layui-input-block">
                        <input type="password" class="layui-input" name="password2">
                        </div>
                    </div>
 <div align="center">
                        <button class="layui-btn" type="submit">修改密码</button>

                    </div>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
                </div>
        </div>
</div>
{% endblock %}
