<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>CTFWORKER</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <script src="/static/layui/layui.js"></script>

</head>
<body class="layui-layout-body" style="background-color: #F2F2F2">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">CTFER(训练模式)</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">比赛情况</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">赛题</a>
                <dl class="layui-nav-child">
                    <dd><a href="/topic/web">WEB</a></dd>
                    <dd><a href="/topic/bin">二进制</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">知识点</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">赛题管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="{% url 'topic_upload' %}">赛题上传</a></dd>
                    <dd><a href="{% url 'topic_list' %}">查看题目</a></dd>
                    <dd><a href="{% url 'topic_group_list' %}">查看组卷</a></dd>
                    <dd><a href="{% url 'instance_list' %}">题目状态</a></dd>
                </dl>
            </li>
        </ul>
        {% if request.user.is_authenticated %}
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                       {{ request.user.username }}
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><form method="post" action="{% url 'account_logout' %}">{% csrf_token %}<input type="submit" style="display: none" id="logout"></form><a href="#" onclick="document.getElementById('logout').click();return false">注销</a></li>
            </ul>
        {% else %}
             <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item"><a href="{% url 'account_signup' %}">注册</a></li>
                <li class="layui-nav-item"><a href="{% url 'account_login' %}">登录</a></li>
            </ul>
        {% endif %}

    </div>


    <div class="layui-body" style="left: 0px">
        <!-- 内容主体区域 -->


        {% block root %}

        {% endblock %}



        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © Power By CTFWORKER
        </div>
    </div>
    {#    </div>#}
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });
    </script>
</body>
</html>