{% extends 'layout.html' %}
{% block root %}
    <div class="layui-row">
            <div class="layui-row layui-col-space10" >
        <div class="layui-col-md2"></div>
            <div class="layui-col-md8">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                <legend>题库</legend>
            </fieldset>

            <table class="layui-table" lay-skin="line">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>题目名称</th>
                    <th>题目类型</th>
                    <th>题目端口</th>
                    <th>加入题组</th>
                </tr>
                </thead>
                <tbody>
                {% for topic in topic_list %}
                <tr>
                    <td><a href="{% url 'topic_detail' topic.id %}">{{ topic.title }}</a></td>
                    <td>{{ topic.type }}</td>
                    <td>{{ topic.port }}</td>
                    <td><button class="layui-btn layui-btn-normal" onclick="join_topic_group({{ topic.id }})">加入题组</button></td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
<script>
            function join_topic_group(id) {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.open({
                        type: 1,
                        closeBtn: 2,
                        title: ['确认加入？', 'font-size:18px;'],
                        content: "<div align='center' ><form action='{% url 'topic_group_add'  %}' method='post'>{% csrf_token %}<input type='hidden' name='topic' value='"+id+"' ><input class='layui-btn layui-btn-danger'  type='submit' value='加入题组'></form></div>" //这里content是一个普通的String
                    });
                });
            }
        </script>
{% endblock %}