{% extends 'layout.html' %}
{% load topic_helper %}
{% block root %}
    <div class="layui-row">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md2"></div>
            <div class="layui-col-md8">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                    <legend>{{ topic.title }}</legend>
                </fieldset>
                <div id="layerDemo">
                    <button class="layui-btn layui-btn-danger" onclick="delete_topic()"
                            style="float: right;margin-bottom: 20px;margin-left: 10px">删除
                    </button>
                    <a href="{% url 'topic_update' topic.id %}" class="layui-btn layui-btn-normal"
                       style="float: right;margin-bottom: 20px">修改</a>
                </div>

                <table class="layui-table" lay-skin="line">
                    <colgroup>
                        <col width="150">
                        <col width="150">
                    </colgroup>

                    {{ topic | detail_filed:'title' }}
                    {{ topic | detail_filed:'port' }}
                    {{ topic | detail_select_filed:'build_type' }}
                    {{ topic | detail_select_filed:'type' }}
                    {{ topic | detail_filed:'introduction' }}
                    {{ topic | detail_filed:'flag_is_unique' }}
                    {{ topic | detail_filed:'exec_command' }}
                    <tr>
                        <td>部署的压缩包</td>
                        <td><a href="{{ topic.zip_file.url }}">{{ topic.zip_file }}</a></td>
                    <tr>
                        <td>创建时间</td>
                        <td>{{ topic.create_time | date:"Y-m-d H:i:s" }}</td>
                    </tr>
                    {#                    {{topic | detail_filed:'create_time'}}#}

                </table>
            </div>
        </div>
        <script>
            function delete_topic() {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.open({
                        type: 1,
                        closeBtn: 2,
                        title: ['加入题组', 'font-size:18px;'],
                        content: "<div align='center' ><form action='{% url 'topic_delete' topic.id %}' method='post'>{% csrf_token %}<input class='layui-btn layui-btn-danger'  type='submit' value='确认删除'></form></div>" //这里content是一个普通的String
                    });
                });
            }
        </script>
{% endblock %}